AIRNOW_API_KEY=
AIRNOW_HISTORIC_DATA_URL="https://www.airnowapi.org/aq/data/"

DOCKER_ENV=1

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

SPARK_APP_NAME=AirNowStreamAnalytics
SPARK_MASTER=