AIRNOW_API_KEY=1B56DC53-1183-45DF-B0AA-79FBCBCC5795
AIRNOW_HISTORIC_DATA_URL="https://www.airnowapi.org/aq/data/"

DOCKER_ENV=1

MINIO_ACCESS_KEY =
MINIO_SECRET_KEY =

SPARK_APP_NAME=AirNowStreamAnalytics
SPARK_MASTER=spark://spark-master:7077