AIRNOW_API_KEY=
AIRNOW_DATA_URL="https://www.airnowapi.org/aq/data/"

DOCKER_ENV=1

DOCKER_KAFKA_BOOTSTRAP_SERVER = "kafka:9092"
LOCAL_KAFKA_BOOTSTRAP_SERVER = "localhost:9094"
RAW_HISTORICAL_DATA_KAFKA_TOPIC = "airnow_raw_historical"

DOCKER_MINIO_ENDPOINT = "http://minio:9000"
LOCAL_MINIO_ENDPOINT = "http://localhost:9000"
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_HISTORICAL_DATA_BUCKET = "kafka-raw-historical-data"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

SPARK_MASTER="spark://spark-master:7077"